// LOADER

#loader-container {
  opacity: 0;
  // display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 9999;

  @include flexCenter;

  animation-name: fadeOut;
  animation-duration: 4s;
  transition: all 4000ms cubic-bezier(1, 0.025, 1, 0.04);
}

.loaded {
  display: none !important;
}

// SECTIONS

.section-about {
  padding: 24rem 0;
  position: relative;
  // background-color: $color-grey-light-2;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  margin-top: -19rem;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

  @include for-phone-only {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    padding: 0;
  }
}

.section-we {
  // border: 1px solid red;
  margin-top: -20rem;
  z-index: -1;
  padding: 32rem 0 10rem 0;
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    #232323,
    #1f1e26,
    #191a29,
    #11162d,
    #041230
  );
}

.section-design {
  padding: 20rem 0;
  background-color: $color-grey-light-2;

  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

  @include for-phone-only {
    padding: 3rem 0;
  }
}
