* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-size: 62.5%; //1rem = 10px;  10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px, 8/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 60%; //1rem = 12px, 12/16 = 75%
  }
}

body {
  box-sizing: inherit;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}
